/**
 * @file
 * Styles for the promo_bar.
 */

.commerce-promo-bar {
  position: relative;
}

.commerce-promo-bar article {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.commerce-promo-bar .dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
